# HTTP Proxy Default Configuration
#
server
{
    ${core.ipboth.enabled}listen    [::]:${web.http.port} default;
    ${core.ipv4only.enabled}listen    ${web.http.port} default;
    ${core.ipv6only.enabled}listen    [::]:${web.http.port} default;
    server_name             ${web.server_name.default}.default;
    include                 ${core.includes}/${core.cprefix}.web.http.mode-${web.mailmode};
}
