# Carbonio ClamAV Signature Provider proxy configuration
#
server
{
    listen 127.78.0.21:10000;
    access_log /opt/zextras/log/nginx_clamav_signature_provider_access.log;


    location / {
        add_header Content-Type text/plain;
        return 200 'Ok';
        allow 127.0.0.1;
        allow ::1;
        deny all;
    }

    location ^~ /av_signature {
        alias /opt/zextras/av_signatures/;
        allow 127.0.0.1;
        allow ::1;
        deny all;
    }
}
