[Unit]
Description=NGINX carbonio proxy sidecar
Documentation=https://docs.zextras.com/
Requires=network-online.target
After=network-online.target
PartOf=carbonio-proxy.target


[Service]
Type=simple
ExecStart=/usr/bin/consul connect envoy \
    -token-file /etc/carbonio/proxy/service-discover/token \
    -admin-bind localhost:0 \
    -sidecar-for carbonio-proxy
Restart=on-failure
RestartSec=15
User=carbonio-proxy
KillMode=process
KillSignal=SIGKILL
LimitNOFILE=65536
TimeoutSec=120
TimeoutStopSec=120

[Install]
WantedBy=carbonio-proxy.target
