[Unit]
Description=NGINX Carbonio ClamAV signature provider sidecar
Documentation=https://docs.zextras.com/
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/consul connect envoy \
    -token-file /etc/carbonio/clamav-signature-provider/service-discover/token \
    -admin-bind localhost:0 \
    -sidecar-for carbonio-clamav-signature-provider
Restart=on-failure
RestartSec=15
User=carbonio-clamav-sig-provider
KillMode=process
KillSignal=SIGKILL
LimitNOFILE=65536
TimeoutSec=120
TimeoutStopSec=120

[Install]
WantedBy=carbonio-proxy.target
