[Unit]
Description=Carbonio ClamAV Signature Provider Sidecar
Documentation=https://docs.zextras.com/
Requires=network-online.target
After=network-online.target
PartOf=carbonio-mta.target carbonio-proxy.target

[Service]
User=carbonio-clamav-sig-provider
ExecStart=/usr/bin/consul connect envoy \
    -token-file /etc/carbonio/clamav-signature-provider/service-discover/token \
    -admin-bind localhost:0 \
    -sidecar-for carbonio-clamav-signature-provider
Restart=on-failure
RestartSec=15s
ExecReload=/usr/bin/kill -HUP $MAINPID
KillSignal=SIGINT
LimitNOFILE=65536

[Install]
WantedBy=carbonio-mta.target carbonio-proxy.target
