[Unit]
Description=NGINX carbonio proxy sidecar
Documentation=https://docs.zextras.com/
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/consul connect envoy \
    -token-file /etc/zextras/carbonio-proxy/token \
    -admin-bind localhost:0 \
    -sidecar-for carbonio-proxy
Restart=on-failure
RestartSec=15
User=carbonio-proxy
KillMode=process
KillSignal=SIGKILL
LimitNOFILE=65536
TimeoutSec=120
TimeoutStopSec=120

[Install]
WantedBy=multi-user.target